.vertical-timeline-element-content {
    color: black;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
    border-top: 3px solid #2196f3;
}

.vertical-timeline-element--education .vertical-timeline-element-content {
    border-top: 3px solid #e91e63;
}


.vertical-timeline::before {
    background: aqua;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    position: static !important;
}
